ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  line-height: 1.5;
  font-family: Helvetica, Verdana, sans-serif;
  font-variant: 200;
  font-weight: 15px;

  border-bottom: 1px solid #ccc;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #000;
  width: 200px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

#SmartphoneList {
  display: block;
  max-width: 300;
  margin-left: 20;
  overflow: auto;
}
